<div class="modal-header">
  <h4 class="modal-title">{{ repo.name }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>Title:</strong> {{ repo.name }}</p>
  <p><strong>Description:</strong> {{ repo.description }}</p>
  <p><strong>Language:</strong> {{ repo.language }}</p>
  <p><strong>Has Issues:</strong> <span [ngClass]="{'text-success': repo.has_issues, 'text-danger': !repo.has_issues}">{{ repo.has_issues ? '✔' : '❌' }}</span></p>
  <p><strong>HTML URL:</strong> <a [href]="repo.html_url" target="_blank">{{ repo.html_url }}</a></p>
</div>



